<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Secure authentication system for anonymous secret sharing">
  <meta name="theme-color" content="#2563eb">
  <title>Secrets - Secure Authentication</title>
  
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVJkEZSMUkrQ6O+RJ+cTIFutydgrh7g8JB8DSt5V+cjkmdp/ij8DsJLd7v91NzPy3otv3/tz0OQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <!-- Bootstrap CSS (modern version) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-t4Ewea1rheq/59fZrqM45icrj79LsJH3e4q8LvsNPUjsRpLy+oh7byMaQKFw427JzixceJnZuAXoCNG2haJVDg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <!-- Custom Styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
